*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $color-text;
}
p {
  padding: 0;
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $color-text;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.title {
  margin-bottom: 27px;
  text-align: center;
  @include roboto-bold;
  font-size: 36px;
  line-height: 60px;
  color: $color-title;
}
// === STAR-RATING ===
.rate-star{
  display: inline-block;
  margin-right: 13px;
}
// === / STAR-RATING ===