// === WHITESPACE BETWEEN BLOCKS ===
$whitespace: 120px 0 110px;
$whitespace-top: 120px;
$whitespace-bottom: 110px;
// === / WHITESPACE BETWEEN BLOCKS ===

// === COLORS ===
$color-text: #546e7a;
$color-accent: #e74c3c;
$color-accent-2: #8bc34a;
$color-title: #263238;
$color-gray: #f4f6f5;
$color-white: #fff;
// === / COLORS ===

// === FONTS ===
@mixin roboto-regular {
  font-family: 'Roboto-Regular';
  font-weight: 400;
}

@mixin roboto-medium {
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

@mixin roboto-bold {
  font-family: 'Roboto-Bold';
  font-weight: 700;
}

@mixin raleway-bold {
  font-family: 'Raleway-Bold';
  font-weight: 700;
}

@mixin lato-regular {
  font-family: 'Lato-Regular';
  font-weight: 400;
}
// === / FONTS ===
// === TRANSITION ===
$transition-fast: all .3s;
$transition-medium: all .5s;
// === / TRANSITION ===